# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'xkcd'
      'submenu': [
        {
          'label': 'Open/restart'
          'command': 'xkcd-comics:open'
        }
      ]
    ]
  }
]
